body
{
    /* margin: 0px 0px 0px 0px; */
    all: unset;
}

.window{
    background-image: url(/math.jpg);
    background-position: top;
    padding: 5px 5px 5px 5px;
    width: 310px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: beige;
    text-decoration: solid;
    align-items: center;
    opacity: 0.8;
}

.textArea
{
    width: 300px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 68px;
    resize: none;
}

.but_percent
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_ce
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_c
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_bsp
{
    margin: 10px 0px 2.5px 2.5px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_x1
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_x2
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_x3
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_x4
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_7
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_8
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_9
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_x
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_4
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_5
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_6
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_-
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_1
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_2
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_3
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_plus
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_plus_minus
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_0
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_dot
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.but_equal
{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    width: 70px;
    height: 70px;
}

